

.App {
  height: 100%;
  width: 100%;
  background-color: #262e3c;
}

.butt {
  display: inline-flex;
  margin: 4px;
  width: 200px;

}
.description {
  position: relative;
  max-width: 14em; /* Set the maximum height to show one line */
  max-height: 1.2em; /* Set the maximum height to show one line */
  align-content: center;
  padding: 20px 5px;

  overflow: hidden; /* Hide the overflow content */
  overflow-wrap: break-word;
}
